html {
    margin: 0;
    scroll-behavior: smooth;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background: #000;
}
.container {
    background-color: #aaa;
    width: auto;
    height: 800px;
    margin: 25px;
    border: 2px solid #ddd;
    border-radius: 20px;
}
.title h1 {
    text-align: center;
    margin-bottom: 0;
}
.subtitle h4 {
    text-align: center;
    font-weight: normal;
    margin-top: 10px;
}
.bar {
    border: 1px solid #bbb;
    margin: 0 20px 0 20px;
}
.photo {
    text-align: center;
    margin-top: 25px;
}
.photo img {
    width: 200px;
    height: auto;
    filter: grayscale(100%);  
}