html {
    margin: 0;
    scroll-behavior: smooth;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
}
/* Header */
header {
    display: flex;
    justify-content: center;
    height: 120px;
    background-color: rgba(224, 224, 224, 0.911);
}
.container {
    display: flex;
    justify-content: space-between;
    width: 990px;
    
}
img {
    max-width: 300px;
    width: auto;
    height: 150px;
}
/* MENU */
.menu {
    display: flex;
    align-items: center;
}
nav ul, nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul {
    display: flex;
}
nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}
nav .active a,
nav a:hover {
    background-color: #c72b2b;
    color: #ffffff;
}
/* MENU */

/* BANNER */
#banner {
    display: flex;
    justify-content: center;
    background-image: url('../images/banner3.jpg');
    background-position: center;
    background-size: cover;
    height: 480px;
}
.column {
    flex-direction: column;
}
.banner_headline {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_headline h1 {
    color: #fff;
    font-size: 65px;
    text-shadow: 5px 5px 10px #000;
    margin: 0px;
    padding: 0px;
    max-width: 400px;
}
/* BANNER */
/* Header */

/* Content */
/* SECTION AND ASIDE */
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#geral {
    display: flex;
    justify-content: center;
    background-color: rgba(224, 224, 224, 0.911);
}
.widget_title {
    margin-top: 100px;
    margin-bottom: 20px;
}
.widget_title_text {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    margin-left: 20px;
}
.widget_title_bar {
    width: 50px;
    height: 2px;
    background-color: #c72b2b;
    margin-top: 5px;
    margin-left: 20px;
}
.widget_body {
    margin-left: 20px;
}

/* ABOUT */
.widget_title_about {
    margin-top: 100px;
}
.title_about {
    display: flex;
    width: 250px;
    margin: 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.title_about h2 {
    font-size: 25px;
    color: #c72b2b;
}
.desc_about {
    width: 450px;
}
.aside_about {
    display: flex;
    height: auto;
    align-items: center;
    margin-left: 180px;
    margin-top: 20px;
}
.widget_title_about {
    color: #000;
    font-size: 21px;
    font-weight: bold;
    margin-top:30px;
    margin-bottom:0px;
}
.widget_title_about img {
    margin-bottom: 0;
    display: flex;
}

/* ABOUT */

/* SERVICES */
aside .list_services {
    margin: 0;
}
.title_services {
    display: flex;
    width: 250px;
    min-height: 407px;
    height: auto;
    background-color: #ddd;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid #aaa;
    border-radius: 15px;
    flex-direction: column; 
    margin-right: 10px;
    box-shadow: 5px 5px 10px #999;
}
.title_services h2 img {
    display: flex;
    margin-left: 140px;
    margin-top: -60px;
    height: 100px;
    width: 100px;
    top: 0;
}
.title_services h2 {
    font-size: 25px;
    color: #c72b2b;
}
aside .list_services .title_list_services {
    margin-top: 0;
    margin-bottom: 20px;
    box-shadow: 3px 5px 10px #999; 
    border: 1px solid #777;
}
.list_services .title_list_services div {
    margin: 0;
}
.widget_body_services {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.list_services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
}
.list_services div {
    background-color: #c72b2b;
    color :#fff;
    height: auto;
    width: 650px;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    border-radius: 15px;  
    flex-direction: column;  
}
/* SERVICES */

/* CLIENT */



/* CLIENT */

/* SLIDER */
@-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: rgba(224, 224, 224, 0.911);
    /* box-shadow: 0 10px 20px -5px #c72b2b62;rgba(0, 0, 0, 0.125); */
    height: 130px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 990px;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, rgba(224, 224, 224, 0.911) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 30s linear infinite;
    animation: scroll 30s linear infinite;
    display: flex;
    width: calc(120px * 14);
  }
  .slider .slide {
    height: 80px;
    width: 300px;
  }
/* Silder */

/* CONTACT FORM */
.content .widget_contato {
    padding-top: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.contato {
    background: linear-gradient(to right,  rgb(221, 221, 221) 0%,rgba(233, 233, 233, 0.911) 100%);;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #999;
    padding: 15px 0 0 15px;
    height: 369px;
    margin: 0;
}
.text {
    border: 1px solid #bbb;
    border-radius: 7px;
    padding: 5px;
    margin-bottom: 15px;
}
#nome {
    width: 450px;
}
#tel {
    width: 170px;
}
#email{
    width: 265px;
}
#msg {
    height: 200px;
    width: 450px;
    resize: none;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#button {
    margin-bottom: 20px;
    background-color: #c72b2b;
    color: #fff;
    width: 200px;
    height: 35px;
    font-size: 18px;
    box-shadow: 5px 5px 10px #777;
    border-radius: 7px;
}
#button:hover {
    background-color: #ff6868;
    color: #fff;
    /* border: 1px solid #777; */
}
.img_contato img {
    height: 350px;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
}
/* CONTACT FORM */
/* Content */

/* Rodapé */
iframe {
    border-radius: 10px;
}
.widget_body_foot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #969696;
    font-size: 13px;
    padding-right: 20px;
}
.widget_info {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
}
.widget_info a{
    text-decoration: none;
    color: #fff;
    padding-right: 15px;
}
.widget_info a:hover{
    color: #c72b2b;
}
.widget_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.widget_buttons div {
    margin-right: 5px;
    margin-top: 20px;
    color: #5c5c5c;
    border-radius: 30px;
}
.widget_buttons div a {
    text-decoration: none;
    color: #5c5c5c;
}
.widget_buttons div a:hover{
    color: #c72b2b;
}
.widget_title_foot {
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin-left: 0px;
    margin-top: 30px;
}
.widget_title_bar_foot {
    width: 50px;
    height: 2px;
    background-color: #c72b2b;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 30px;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
footer {
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}
.footer_menu {
    display: flex;
}
.footer_area{
    display: flex;
}
.footer_areaitem {
    flex: 1;
    color: #fff;
    margin-top: 0;
}
footer .widget_title_text {
    color: #fff;
}
.footer_copy {
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.footer_copy a {
    text-decoration: none;
    color: #5c5c5c;
}
.footer_copy a:hover {
    color: #c72b2b;
}
.flexColumn {
    flex-direction: column;
}
/* Rodapé */
/* Menu Mobile */
.menuMobile {
    display: none;
    width: 40px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}
.mm_line {
    height: 5px;
    background-color: #c72b2b;
    border-radius: 5px;
}
.logo_foot {
    display: flex;
    padding: 10px;
    justify-content: left;
}
/* Menu Mobile */

/* Responsividade */

@media (max-width:600px) {    
    .banner_headline {
        padding: 20px;
    }
    .banner_headline h1 {
        font-size: 45px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    #banner {
        display: flex;
        justify-content: center;
        background-image: url('../images/banner3.jpg');
        background-position: center;
        background-size: cover;
    }
    .container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    #geral section {
        margin-left: 10px;
        padding: 0px;
    }
    #geral aside {
        margin-top: 20px;
    }
    .title_services {
        display: flex;
        width: 400px;
        min-height: 180px;
        height: auto;
        background-color: #eee;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 15px;
        flex-direction: column; 
    }
    .title_services h2 {
        display: flex;
        flex-direction: column;
        font-size: 30px;
    }
    .title_services h2 img {
        display: flex;
        margin-left: 280px;
        margin-top: -80px;
        height: 100px;
        width: 100px;
        top: 0;
    }
    .widget_body_services {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        align-items: center;
    }
    .list_services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 10px;
        width: 350px;
    }
    .list_services div {
        background-color: #c72b2b;
        color :#fff;
        width: 410px;
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-direction: row;
    }   
    .list_services .title_list_services {
        padding-left: 10px;
    }
    .contato {
        max-width: 410px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .text {
        border: 1px solid #bbb;
        border-radius: 7px;
        padding: 5px;
        margin-bottom: 15px;
    }
    #nome {
        width: 370px;
    }
    #tel {
        width: 370px;
    }
    #email{
        width: 370px;
    }
    #msg {
        height: 200px;
        width: 370px;
        resize: none;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .img_contato img {
        display: none;
    }
    .footer_menu {
        flex-direction: column;
    }
    .footer_area {
        flex-direction: column;
        padding: 20px;
        margin-left: 15px;
    }
    .footer_copy {
        padding-left: 20px;
    }
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: column;
        display: none;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    header {
        height: auto;
    }
    .logo {
        padding-left: 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    iframe {
        width: 400px;
    }
}


/* Responsividade */



